html {
  scroll-behavior: smooth;
}
.btn_link {
  border: none;
  background-color: white;
  padding: 0px;
}
.btn_link:hover {
  color: #6c757d;
  text-decoration: underline !important;
}
.btn_one {
  width: 100%;
  float: left;
  color: #e1e1e1;
  text-align: center;
  cursor: default !important;
  transition: 0.5s;
  z-index: 2;
  border: 0px;
  height: 6rem;
  background-color: white;
}
.nav_doc {
  background: #fff;
  width: 100%;
  height: 5rem;
}
.sct_doc {
  height: 350px;
  width: 100%;
  padding: 40px 0px !important;
  overflow: auto;
}
.sct_doc::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.sct_doc::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.sct_doc::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.sct_doc::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
.btn_doc {
  width: 25%;
  float: left;
  color: #e1e1e1;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
  border: 0px;
  height: 6rem;
  background-color: white;
}
.active-doc {
  color: #000000;
  border-bottom: 1px solid black !important;
}
.btn_doc:hover {
  color: #000000;
  border-bottom: 1px solid black !important;
}
.btn_doc:before {
  display: block;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 2;
}
@media screen and (min-height: 700px) {
  .sct_doc {
    height: 600px;
  }
}
@media screen and (min-height: 1000px) {
  .sct_doc {
    height: 1000px;
  }
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 0.625em;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.4);
  transition: background-color 0.1s;
}
.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.8em;
  border-bottom: none;
}
.modal-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.8em;
}
.modal-text {
  color: #545454;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.modal-body {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 0 1.6em;
  color: #545454;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.modal-actions {
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1.25em auto 0;
  padding: 0 1.6em;
}
.modal-main {
  margin: auto;
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}
svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
