* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
h1 {
  text-align: center;
  margin: 0.5rem 0;
}
select {
  margin-bottom: 10px;
}
.Campo-form input[type="file"],
.Campo-form input[type="password"],
.Campo-form input[type="email"],
select {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
  border-radius: 5px;
}
.Container {
  display: flex;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5pt;
  width: 60%;
  flex-direction: column;
}
.btn {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
}
.btn-primario {
  background-color: blue;
  color: white;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-secundario {
  background-color: gray;
  color: white;
}
.Container-form {
  margin: auto;
}
.Campo-form {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
