* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: Roboto, "Poppins", "Source Sans Pro", "Muli", "Noto Sans",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;
}
span {
  font-weight: 200;
  font-family: Roboto, "Poppins", "Source Sans Pro", "Muli", "Noto Sans",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  color: red;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
select {
  margin-bottom: 10px;
}
input[type="file"]::-webkit-file-upload-button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.78rem 1rem;
  font-size: 1.0625rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.25s ease-in-out;
  color: #ffffff;
  background-color: #4285f4;
  border-color: #4285f4;
  padding: 0.46rem 1rem;
  font-size: 1.0625rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.header {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  margin-left: 10px;
}
.container-steeper {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-top: 0.5px solid #e1e1e1;
  border-bottom: 0.5px solid #e1e1e1;
}
.content-stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 80%;
  flex-direction: column;
}
.Campo-form input[type="file"],
.Campo-form input[type="password"],
.Campo-form input[type="email"],
.Campo-form input[type="text"],
.Campo-form input[type="number"],
.Campo-form input[type="date"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
  border-radius: 5px;
}
.container {
  margin: 10px auto;
  padding: 10px;
  border-radius: 2pt;
  background-color: white;
  width: 80%;
  box-shadow: 2px 3px 1px 5px #e1e1e1;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.78rem 1rem;
  font-size: 1.0625rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    transform 0.25s ease-in-out;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn-primario {
  color: #e5f0fe;
  background-color: #5d9afc;
  border-color: #5d9afc;
}
.btn-primario:hover {
  color: #ffffff;
  background-color: #1e6ef2;
  border-color: #1266f1;
  box-shadow: 0 0 0 0.2rem rgba(94, 151, 246, 0.5);
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.46rem 1rem;
  font-size: 1.0625rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-secundario {
  color: #5d9afc;
  background-color: #e5f0fe;
  border-color: #e5f0fe;
}
.btn-secundario:hover {
  color: #5d9afc;
  background-color: #e5f0fe;
  border-color: #e5f0fe;
}
.btn-secundario:focus,
.btn-secundario.focus {
  color: #ffffff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-secundario.disabled,
.btn-secundario:disabled {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secundario:not(:disabled):not(.disabled):active,
.btn-secundario:not(:disabled):not(.disabled).active,
.show > .btn-secundario.dropdown-toggle {
  color: #ffffff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-secundario:not(:disabled):not(.disabled):active:focus,
.btn-secundario:not(:disabled):not(.disabled).active:focus,
.show > .btn-secundario.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.mb-5,
.my-5 {
  margin-bottom: 1rem !important;
}
.lead {
  font-size: 1.32812rem;
  font-weight: 300;
}
.fs--16 {
  font-size: 16px !important;
}
.max-w-250 {
  max-width: 250px !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.container-form {
  width: 90%;
  border: 0.5px solid #e1e1e1;
  border-radius: 5pt;
  padding: 20pt;
}
.Campo-form {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}
.container-review {
  width: 90%;
  border: 0.5px solid #e1e1e1;
  border-radius: 5pt;
  padding: 20pt;
}
.campo-review {
  display: flex;
  flex-direction: column;
  color: #6c757d;
  margin: 10px 0px;
  border-bottom: 0.5px solid #e1e1e1;
  white-space: nowrap;
}
.campo-review label {
  margin: 5px 0px;
}
.campo-review h3 {
  color: black;
  font-size: 20px;
  margin: 5px 0px;
}
.campo-btn {
  display: flex;
  justify-content: space-evenly;
}
.step {
  activebgcolor: blue;
}
